.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid lightgray;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  font-size: medium;
  padding-top: 15px;
  font-size: large;
  font-style: oblique;
}

.navbar-links div {
  padding-right: 100px;
}

.navbar-links div:hover {
  color: dodgerblue;
  cursor: pointer;
}

.navbar-links .navbar-link-specials {
  background-color: skyblue;
}
